.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-top: 1rem;
    row-gap: 1rem;
}

.cart-container{
    background: rgba(255, 153, 0, 0.30);
    position: sticky;
    top: 0;
    right: 0;
}

@media only screen and (max-width: 600px) {
    .shop-container{
        display: flex;
        flex-direction: column-reverse;
    }
    .products-container{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        margin-top: 1rem;
        row-gap: 1rem;
        margin-bottom: 40px;
    }
    .cart-container{
        background: rgba(255, 153, 0, 0.30);
        position: static;
        margin: 0 3rem;
        border-radius: 8px;
        overflow: hidden;
    }
  }