*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.common-width{
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  .common-width{
    margin-top: 50px;
  }
}